<h1> To Do List: </h1>

<ul>
    {{#each items}}
        {{#unless done}}
            {{> todos/todo-block done=true}}
        {{/unless}}
    {{/each}}
</ul>


<h2>Completed tasks!</h2>

<ul>
    {{#each items}}
    {{#if done}}

    {{> todos/todo-block done=false }}
</ul>
